* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .br::after{
    content: "<br>";
  }
  input:focus,
  textarea {
    outline: none !important;
  }
  
  .fd-row {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    column-gap: 5px;
  }
  .pointer{
    cursor: pointer;
  }
  .cell{
    cursor:cell ;
  }
  .fd-col {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
  }
  .sp-bw {
    display: flex;
    justify-content: space-between;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-text {
    font-size: large;
  }
  
  .error-div {
    margin: 10px;
    text-align: center;
    background-color: #910000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
  
  }
  .error{
    color: red;
  }
  .success {
    background-color: rgb(19, 155, 27);
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    border-radius: 10px;
  }
  .center {
    width: max-content;
    margin: auto;
  }
  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .hide {
    display: none;
  }

  .form-div{
    position: absolute;
    max-width: 500px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    row-gap: 5px;
    background-color: azure;
  }

  .row-item{
    width: 25%;
    border: 0.5px solid black;
    text-align: center;
  }